<h1>{{instrumento.instrumento | uppercase}}</h1>
<hr>
<div class="row">
  <div class="col-md-4" style="text-align: center;">
    <img src="assets/img/{{instrumento.imagen}}" style="max-width: 300px;" class="img-fluid"
      [alt]="instrumento.instrumento">
    <br><br>
    <a [routerLink]="['/instrumento']" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>
  <div class="col-md-8">
    <h3 style="color: crimson">{{instrumento.instrumento}}</h3>
    <hr>
    <p><b>Precio:</b> ${{instrumento.precio}}</p>
    <p><b>Marca:</b> {{instrumento.marca}}</p>
    <p><b>Modelo:</b>{{instrumento.modelo}}</p>
    <p><b>Descripcion:</b> {{instrumento.descripcion}}</p>
    <div>
      <span *ngIf="instrumento.envio == 'Bebidas'" style="color:red; font-weight: bold;">
        Es Bebida
      </span>
      <br>
      Costo Envio:
      <h5> <br>
        <span *ngIf="instrumento.envio == 'G'" style=" color: green;">
          <img src="assets/img/camion.png" />
          Envío Gratis a todo el País
        </span>
        <span *ngIf="instrumento.envio != 'G'" style="color: red">Costo de Envio Interior de Argentina: $
          {{instrumento.costoEnvio}}</span>
      </h5>
    </div>
  </div>
</div>
