<div class="row">
  <div class="col-md-4" style="text-align: center;">
    <img src="assets/img/{{instrumento.imagen}}" style="max-width: 300px;" class="img-fluid"
      [alt]="instrumento.instrumento">
    <p><b>Descripcion:</b> {{instrumento.descripcion}}</p>
    <br><br>

  </div>
  <div class="col-md-8">
    <p style="font-size: small; color:darkgray">{{instrumento.cantidadVendida}} vendidos</p>
    <h3>{{instrumento.instrumento}}</h3>
    <hr>
    <p style="font-size: xx-large;"> ${{instrumento.precio}}</p>
    <p><b>Marca:</b> {{instrumento.marca}}</p>
    <p><b>Modelo:</b>{{instrumento.modelo}}</p>

    <div>
      <!-- <span *ngIf="instrumento.costoEnvio == 'G'" style="color:red; font-weight: bold;">
        Es Bebida
      </span> -->
      <br>
      Costo Envio:
      <h5> <br>
        <span *ngIf="instrumento.costoEnvio == 'G'" style=" color: green;">
          <img src="assets/img/camion.png" />
          Envío Gratis a todo el País
        </span>
        <!--  <span *ngIf="instrumento.costoEnvio != 'G'" style="color: red">Costo de Envio Interior de Argentina: $
          {{instrumento.costoEnvio}}</span> -->
      </h5>
      <div class="container">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a (click)="carrito()" class="btn btn-outline-primary my-2 my-sm-0">Añadir al Carrito</a>

            <a [routerLink]="['/instrumento']" class="btn btn-outline-primary my-2 my-sm-0">Regresar</a>

          </li>
        </ul>

      </div>

    </div>
  </div>
</div>
